docs/build/
.CondaPkg/
.vscode/
test/script.jl
test/TestData/Results
debug_scripts
test/test.jl
test/TestData/Inputs/input_reduced_timeserie_europe_MinimalExample_globalLimit_1924.xlsx
test/TestData/Inputs/*.xlsx
*.csv
*.log
*.mps
/InputData
iis.txt
*.code-workspace
*.out
*.attr
*.prm
*.lock
*.duckdb